* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.order-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-container a {
  text-decoration: none;
  border: 3px solid #afa5d9;
  padding: 15px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-container a:hover {
  background-color: #afa5d9;
}

.notDelivered {
  background-color: rgb(250, 111, 111);
  padding: 15px;
}
.delivered {
  background-color: greenyellow;
  padding: 15px;
}
