* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191919;
}

.tabs {
  color: #fff;
  display: flex;
  justify-content: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 5px solid #ffff;
}

.form-gap {
  padding-top: 130px;
}

.panel-body {
  background-color: #000;
  border-radius: 10px;
}

h2 {
  color: #ffd700;
}

p {
  color: #fff;
}

input[type='submit'].btn-block,
input[type='reset'].btn-block,
input[type='button'].btn-block {
  background-color: #191919;
}

.btn-primary {
  border-color: #ffd700;
}

.btn-primary:hover {
  border-color: #ffff;
}

.fa-4x {
  font-size: 2em;
  cursor: pointer;
}
.fa-4x:hover {
  color: #ffd700;
}
